/* ========================================
   CSS VARIABLES
======================================== */

:root {
  --mainOrange: #ed6a20;
  --mainPurple: #562b86;
  --mainGrey: #6b6b6b;
  --greenColour: #02c41a;
  --border: 1px solid var(--mainOrange);
  --borderRadius: 8px;
  --font-size-small: clamp(12px, 0.8rem, 18px);
  --font-size-medium: clamp(14px, 1rem, 22px);
  --font-size-large: clamp(16px, 1.2rem, 24px);
}

/* ========================================
   UTILITY CLASSES
======================================== */

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.centre {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.formSelector {
  transform: scale(1);
  transition: transform 1s;
}

.formSelector-active {
  border-color: var(--mainOrange);
  border-width: 0.5rem;
  border-style: solid;
  transform: scale(1.05);
}

.pointer {
  cursor: pointer;
}

/* ========================================
   LAYOUT COMPONENTS
======================================== */

section:has(.qms_formContainer) {
  height: fit-content !important;
  max-height: unset !important;
}

.calcContent {
  transition: margin-top 2s;
  z-index: 99;
}

.expanded {
  margin-top: -10px;
  transition: margin-top 2s;
}

.triggerBtnContainer {
  z-index: 9999;
}

header > section {
  border-bottom: 2px solid #f5f5f5;
}

div[data-field-type="PRODUCT_LIST"] > fieldset {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

div[data-hook="product"] span[data-hook="product-label"] {
  display: none;
}

div[data-hook="product"] span[data-hook="product-price"] {
  display: none;
}

div[data-hook="product"] fieldset[data-hook="product-quantity"] {
  display: none;
}

/* ========================================
   FORM COMPONENTS
======================================== */

.formSection {
  padding: 1%;
  height: auto;
  max-height: min-content !important;
}

.formSection * {
  max-width: 100%;
  color: black;
}

.formSection div:has(.button) {
  height: 68px;
}

.formSection .button,
.formSection .upload-button div[role="button"] {
  width: 250px;
  max-width: 250px;
  height: 50px;
  max-height: 50px;
  background-color: var(--mainOrange);
  border-radius: 2rem !important;
  cursor: pointer;
}

.formSection .button:disabled {
  background-color: var(--mainGrey) !important;
}

.formSection .button__label,
.formSection .upload-button__label {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.formSection .formStack {
  padding: 2px;
  max-width: 100%;
}

.form__imageSelect .repeater__item:hover {
  transform: scale(1.025);
  transition: transform 0.3s;
}

/* Main Text/Number form input styles */

.form__input .text-input__input {
  border: var(--border);
  color: var(--mainGrey);
  padding: 0.5rem;
  border-radius: var(--borderRadius);
}

.form__input .text-input__input:focus {
  border-width: 2px;
}

.form__areaMeasure .form__input {
  gap: 0.3rem;
  height: 100%;
}

.formStack .form__units span {
  color: #545454;
  font-size: 2rem;
  letter-spacing: -1px;
}

.form__dualInputBox {
  display: flex;
  gap: 45px;
  flex-direction: row;
  justify-content: left;
  width: 100%;
}

.form__dualInputBox .form__input {
  width: 50%;
  max-width: 350px;
}

.formSection .formStack > div:last-child,
.formSection .formStack > div[class*=" form__"]:last-child {
  width: 100%;
  margin-bottom: 0px;
  max-width: 100%;
}

.formStack > div:not(.form__line) {
  max-width: 500px;
  width: 100%;
  gap: 0.3rem;
}

.form__areaMeasure,
.form__subsection {
  max-width: 750px !important;
}

.form__subsection {
  border: var(--border);
  padding: 1rem;
}

.form__subsection h4,
.form__subsection div:has(> h4) {
  margin: unset;
}

.formStack > div:not(.form__line) > div[class*=" form__"] {
  flex-grow: 2;
}

.formStack > div:not(.form__line) .form__units {
  /* .formStack > div:has(.form__input + .form__units) { */
  width: auto;
  flex-grow: 1;
  text-align: center;
}

.formStack > div[class*=" form__"]:not(.form__multiSelect) {
  margin-bottom: 1.5rem;
}

.formSection .form__line {
  max-width: 50%;
  min-width: 30%;
}

.formSection .form__input {
  align-self: flex-start;
  height: 4rem;
}

.form__dropdown .dropdown__input {
  border: 1px solid var(--mainOrange);
  border-radius: var(--borderRadius);
}

.formSection .form__dropdown,
.formSection .form__upload {
  width: 99%;
}

.formSection .form__radio {
  gap: 1rem;
  width: 99%;
}

.form__radio [data-testid="radioGroup"] {
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.form__checkboxes .checkbox__input,
.form__radio .radio-button-group__input {
  border-radius: 50%;
  border-width: 2px;
  border-color: var(--mainOrange) !important;
}

.form__checkboxes,
.form__radio,
.form__input:not(.text-box) {
  min-height: auto;
}

.form__radio_vertical div[data-testid="radioGroup"] {
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  border: 5px solid red;
}

.formStack .text-box {
  min-height: 8rem;
}

.radio-button-group__option:hover .radio-button-group__input,
.form__checkboxes label:hover > .checkbox__input {
  background-color: var(--mainOrange);
}

.form__checkboxes .checkbox-group__label {
  width: auto;
}

.form__checkboxes .checkbox-group__label::after {
  display: inline-block;
  position: relative;
  content: " (Multi select for quote comparison)";
  margin-inline-start: 1rem;
  font-size: 0.8rem;
  color: var(--mainGrey);
}

.form__checkboxes [data-testid="items"] {
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
}

.form__checkboxes label [data-testid="items"] {
  font-size: var(--font-size-medium);
}

.form__checkboxes div[data-testid="items"] > label {
  width: 30%;
}

.form__checkboxes .wixui-checkbox__icon {
  fill: var(--mainPurple) !important;
}

.form__radio [data-testid="radioGroup"] > label {
  flex: 1 1 30%;
  max-width: 48%;
}

.form__radio__triple [data-testid="radioGroup"] > label {
  flex: 1 1 29%;
  max-width: 32%;
}

.form__radio__multiple [data-testid="radioGroup"] > label {
  flex: 1 1 50%;
  max-width: 46%;
}

.form__radio .radio-button-group__input-selection {
  background-color: var(--mainOrange);
}

.formSection a {
  color: #0000ee;
}

.formSection div[data-testid="groupLabel"],
.form__checkboxes div[data-testid="label"],
div[class*=" form__"] label:not(.form__multiSelect label),
.form__multiSelect div,
.form__subtitle > h4 {
  font-weight: bold;
  word-break: keep-all;
  margin: 0 0 0.75rem;
  font-size: var(--font-size-medium);
}

div[class*=" form__"] input {
  font-size: var(--font-size-small);
}

.form__multiSelect > div {
  justify-content: space-between;
}

.form__multiSelect > div:nth-child():not(label) {
  margin: 0 0 0.75rem;
}

/* label here is boxes not title */
.form__multiSelect label {
  border-radius: var(--borderRadius);
  text-align: center;
  font-weight: 400;
  flex-grow: 1;
  margin: 0 0.25rem;
}

.form__multiSelect label:first-of-type {
  margin-left: 0rem;
}

.form__multiSelect label:last-of-type {
  margin-right: 0rem;
}

.form__multiSelect label:hover {
  transform: scale(1.1);
}

.form__radio div[data-testid="label"] {
  word-break: keep-all;
  font-size: var(--font-size-small);
}

.formSection p:not(.form__areaMeasure p) {
  word-break: keep-all;
  font-size: var(--font-size-small);
  color: #6b6b6b;
}

.formSection h1 {
  font-weight: bold;
  word-break: keep-all;
}

.form__imagesStack > * {
  max-height: 40%;
}

.form__sectiontext {
  word-break: keep-all;
  margin: 0 0 0.75rem;
  font-size: var(--font-size-small);
}

.form__contact--ab div:has(> input[type*="search"])::after,
.form__contact::after {
  content: "✓";
  position: absolute;
  display: block;
  font-size: 1.8rem;
  color: var(--greenColour);
  left: calc(100% + 1rem);
  bottom: 0px;
}

.form__button--pulse > span {
  animation: pulse 0.8s forwards;
}

.form__loading {
  max-width: 25vw;
  max-height: 25vh;
}

.form__loading-spin {
  animation: spin 1s linear infinite;
}

@media screen and (max-width: 750px) {
  .form__toolPanel .button__icon {
    transform: scale(0.8);
  }
}

/* ========================================
   ANIMATIONS
======================================== */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ========================================
   MEDIA QUERIES
======================================== */

/* Mobile (max-width: 750px) */
@media screen and (max-width: 750px) {
  #quoteFormContainer {
    padding-top: 1rem;
    border-top: 2px solid gray;
  }

  .formSection.formStack {
    padding: 1rem;
  }

  .quoteFormChildContainer {
    width: 100%;
    max-height: 250px;
  }

  .formSection h1 {
    font-size: var(--font-size-large);
  }

  .form__input {
    max-width: 500px;
  }

  .form__toolPanel .button__icon {
    transform: scale(0.8);
  }

  .form__radio [data-testid="radioGroup"] {
    justify-content: space-between;
  }

  .form__dualInputBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: left;
    width: 100%;
  }

  div[class*=" form__"] input {
    font-size: var(--font-size-small);
  }
}

/* Tablet (max-width: 1000px) */
@media screen and (max-width: 1000px) {
  .formSection h1 {
    font-size: clamp(32px, 1.5rem, 32px);
  }
}

/* Desktop (min-width: 750px) */
@media screen and (min-width: 750px) {
  .responsiveStack {
    height: 0px;
    opacity: 0;
    overflow: hidden;
  }

  .responsiveStack--expand {
    transition: height 2s, opacity 0.8s;
    opacity: 1;
    height: 70vh !important;
    max-height: fit-content !important;
  }
}

/* Large Desktop (min-width: 1000px) */
@media screen and (min-width: 1000px) {
  .formSection h1 {
    font-size: clamp(48px, 1.5rem, 32px);
  }
}
