:root {
  --mainOrange: #ed6a20;
  --mainPurple: #562b86;
  --mainGrey: #6b6b6b;
  --greenColour: #02c41a;
  --border: 1px solid var(--mainOrange);
  --borderRadius: 8px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.centre {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.formSelector {
  transform: scale(1);
  transition: transform 1s;
}

.formSelector-active {
  border-color: var(--mainOrange);
  border-width: 0.5rem;
  border-style: solid;
  transform: scale(1.05);
}

.pointer {
  cursor: pointer;
}

section:has(.qms_formContainer) {
  height: fit-content !important;
  max-height: unset !important;
}

.calcContent {
  transition: margin-top 2s;
  z-index: 99;
}

.expanded {
  margin-top: -10px;
  transition: margin-top 2s;
}

.triggerBtnContainer {
  z-index: 9999;
}

/* Styles for Mat testing */

@media screen and (min-width: 750px) {
  .responsiveStack {
    height: 0px;
    opacity: 0;
    overflow: hidden;
  }

  .responsiveStack--expand {
    transition: height 2s, opacity 0.8s;
    opacity: 1;
    height: 70vh !important;
    max-height: fit-content !important;
  }
}

/* Mobile Style */
@media screen and (max-width: 750px) {
  #quoteFormContainer {
    /* overflow-y: scroll; */
    background-color: green !important;
    padding-top: 1rem;
    border-top: 2px solid gray;
  }

  .quoteFormChildContainer {
    width: 100%;
    max-height: 250px;
  }
}

header > section {
  border-bottom: 2px solid #f5f5f5;
}

div[data-field-type="PRODUCT_LIST"] > fieldset {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

div[data-hook="product"] span[data-hook="product-label"] {
  display: none;
}

div[data-hook="product"] span[data-hook="product-price"] {
  display: none;
}

div[data-hook="product"] fieldset[data-hook="product-quantity"] {
  display: none;
}

/* FORM STYLES */

.formSection {
  padding: 1%;
  height: auto;
  max-height: min-content !important;
}

.formSection * {
  max-width: 100%;
}

.formSection .formStack {
  padding: 2px;
  max-width: 100%;
}

.formSection .formStack > div,
.formSection .formStack > div[class*=" form__"]:not(.form__multiSelect) {
  width: 100%;
}

.formSection .formStack > div,
.formSection .formStack > div[class*=" form__"]:not(.form__multiSelect):not(:last-child) {
  margin-bottom: 1.5rem;
}

.formSection .formStack > div:last-child,
.formSection .formStack > div[class*=" form__"]:last-child {
  width: 100%;
  margin-bottom: 0px;
  max-width: 100%;
}

.form__areaMeasure .form__input {
  gap: 0.3rem;
  height: 100%;
  padding: 0.8rem;
}

.formStack input[type="text"],
.formStack input[type="number"],
.formStack input[type="email"],
.formStack input[type="tel"] {
  /* background: green; */
  padding: 0.5rem;
  border-radius: var(--borderRadius);
}

.form__input .text-input__input {
  border: var(--border);
  color: var(--mainGrey);
  padding: 0.5rem;
  border-radius: var(--borderRadius);
}

.form__input .text-input__input:focus {
  border: 2px solid var(--mainOrange);
}

.formStack .form__units span {
  color: #545454;
  font-size: 2rem;
  letter-spacing: -1px;
}

.formStack > div:has(.form__input + .form__units) {
  max-width: 100%;
}

.formStack > div:has(.form__input + .form__units) > .form__input {
  width: 75%;
  max-width: 350px;
  margin: unset;
  gap: 0.3rem;
}

.formStack > div:has(.form__input + .form__units) > .form__units {
  width: 25%;
  text-align: left;
  padding-inline-start: 2rem;
}

.formStack .text-input,
.formStack .text-box,
.formStack .radio-button-group,
.formStack .upload-button,
.formStack .dropdown,
.formStack .form__areaMeasure {
  max-width: 94%;
}

.formStack .text-input {
  max-width: 400px;
}

.formSection .form__line {
  max-width: 50%;
  min-width: 30%;
}

.formSection .form__input {
  align-self: flex-start;
  height: 4rem;
}

.form__dropdown .dropdown__input {
  border: var(--border);
  border-radius: var(--borderRadius);
}

.formSection .form__dropdown,
.formSection .form__upload {
  width: 99%;
}

.form__upload [data-testid="upload-button"] {
  background-color: var(--mainOrange);
  border-radius: 2rem;
}

.formSection .form__radio {
  gap: 1rem;
  width: 99%;
}

.form__radio [data-testid="radioGroup"] {
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.form__checkboxes .checkbox__input,
.form__radio .radio-button-group__input {
  border-radius: 50%;
  border-width: 2px;
  border-color: var(--mainOrange) !important;
}

.form__checkboxes .checkbox-group__label {
  width: auto;
}

.form__checkboxes .checkbox-group__label::after {
  display: inline-block;
  position: relative;
  content: " (Multi select for quote comparison)";
  margin-inline-start: 1rem;
  font-size: 0.8rem;
  color: var(--mainGrey);
}

.form__checkboxes [data-testid="items"] {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.form__checkboxes label [data-testid="items"] {
  font-size: clamp(14px, 1rem, 22px);
}

.form__checkboxes div[data-testid="items"] > label {
  width: 30%;
}

.form__radio [data-testid="radioGroup"] > label {
  flex: 1 1 30%;
  max-width: 48%;
}

.form__radio__triple [data-testid="radioGroup"] > label {
  flex: 1 1 29%;
  max-width: 32%;
}

.form__radio__multiple [data-testid="radioGroup"] > label {
  flex: 1 1 50%;
  max-width: 46%;
}

.form__radio .radio-button-group__input-selection {
  background-color: var(--mainOrange);
}

.formSection a {
  color: #0000ee;
}

.formSection div[data-testid="groupLabel"],
.form__checkboxes div[data-testid="label"],
div[class*=" form__"] label:not(.form__multiSelect label),
.form__multiSelect div,
.form__subtitle > h4 {
  font-weight: bold;
  word-break: keep-all;
  margin: 0 0 0.75rem;
  font-size: clamp(14px, 1rem, 22px);
}

div[class*=" form__"] input {
  font-size: clamp(12px, 0.8rem, 22px);
}

.form__multiSelect > div {
  justify-content: space-between;
}

.form__multiSelect > div:nth-child():not(label) {
  margin: 0 0 0.75rem;
}

/* label here is boxes not title */
.form__multiSelect label {
  border-radius: var(--borderRadius);
  text-align: center;
  font-weight: 400;
  flex-grow: 1;
  margin: 0 0.25rem;
}

.form__multiSelect label:first-of-type {
  margin-left: 0rem;
}

.form__multiSelect label:last-of-type {
  margin-right: 0rem;
}

.form__multiSelect label:hover {
  transform: scale(1.1);
}

.form__radio div[data-testid="label"] {
  word-break: keep-all;
  font-size: clamp(12px, 0.8rem, 22px);
}

.formSection p:not(.form__areaMeasure p) {
  word-break: keep-all;
  font-size: clamp(12px, 0.8rem, 22px);
  color: #6b6b6b;
}

.formSection h1 {
  font-weight: bold;
  word-break: keep-all;
}

/* Mobile Style */
@media screen and (max-width: 750px) {
  .formSection h1 {
    font-size: clamp(16px, 1.5rem, 32px);
  }
}

/* Tablet Style */
@media screen and (max-width: 1000px) {
  .formSection h1 {
    font-size: clamp(32px, 1.5rem, 32px);
  }
}

@media screen and (min-width: 1000px) {
  .formSection h1 {
    font-size: clamp(48px, 1.5rem, 32px);
  }
}
.form__diagramContainer {
  border: 1px solid green;
}
.form__dimensionsStack {
  border: 2px solid green;
  width: 100%;
  /* max-width: calc(400px + 1rem); */
}
.form__imagesStack {
  border: 2px solid pink;
  width: 100%;
  /* height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center; */
}

.form__imagesStack > * {
  max-height: 40%;
}

.form__sectiontext {
  word-break: keep-all;
  margin: 0 0 0.75rem;
  font-size: clamp(12px, 0.8rem, 22px);
}

.form__contact--ab div:has(> input[type*="search"])::after,
.form__contact::after {
  content: "✓";
  position: absolute;
  display: block;
  font-size: 1.8rem;
  color: var(--greenColour);
  left: calc(100% + 1rem);
  bottom: 0px;
}

.form__button--pulse > span {
  animation: pulse 0.8s forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
